body{
    background-color: bisque;
}

h1{
    color: darkslategrey;
    font-size: 6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 1rem;
    text-shadow: 0.3rem 0.3rem;
}

p{
    color: rgb(20, 52, 52);
    font-size: 3.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 1rem;
    text-shadow: 0.3rem 0.3rem;
}